<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1019_12091_ef_06.png</key>
			<dict>
				<key>width</key>
				<integer>781</integer>
				<key>height</key>
				<integer>403</integer>
				<key>originalWidth</key>
				<integer>781</integer>
				<key>originalHeight</key>
				<integer>403</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1019_12091_ef_05.png</key>
			<dict>
				<key>width</key>
				<integer>597</integer>
				<key>height</key>
				<integer>342</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>342</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1019_12091_ef_04.png</key>
			<dict>
				<key>width</key>
				<integer>855</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>855</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1019_12091_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>978</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1019_120910.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1019_120910.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>