<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1148_20702_kirakira_01.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>86</real>
				<key>offsetY</key>
				<real>227</real>
			</dict>
			<key>web_ev_1148_20702_kirakira_02.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>86.5</real>
				<key>offsetY</key>
				<real>220.5</real>
			</dict>
			<key>web_ev_1148_20702_treeD_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>592</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>-111</real>
				<key>offsetY</key>
				<real>-344</real>
			</dict>
			<key>web_ev_1148_20702_pump06.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>450</real>
				<key>offsetY</key>
				<real>75.5</real>
			</dict>
			<key>web_ev_1148_20702_cat_04.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>470</real>
				<key>offsetY</key>
				<real>-176.5</real>
			</dict>
			<key>web_ev_1148_20702_cat_03.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>-168</real>
				<key>offsetY</key>
				<real>-117.5</real>
			</dict>
			<key>web_ev_1148_20702_treeD.png</key>
			<dict>
				<key>width</key>
				<integer>443</integer>
				<key>height</key>
				<integer>508</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>480</integer>
				<key>offsetX</key>
				<real>378.5</real>
				<key>offsetY</key>
				<real>-191</real>
			</dict>
			<key>web_ev_1148_20702_pump05.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>220.5</real>
				<key>offsetY</key>
				<real>-259</real>
			</dict>
			<key>web_ev_1148_20702_pump04.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>-286</real>
				<key>offsetY</key>
				<real>-300.5</real>
			</dict>
			<key>web_ev_1148_20702_bed.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>759</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>59</real>
			</dict>
			<key>web_ev_1148_20702_pump_big_shadow.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>60</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>web_ev_1148_20702_pump_big.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>65</real>
				<key>offsetY</key>
				<real>-153</real>
			</dict>
			<key>web_ev_1148_20702_clowd_L3.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>229</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>web_ev_1148_20702_pump03.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>-224</real>
				<key>offsetY</key>
				<real>-187.5</real>
			</dict>
			<key>web_ev_1148_20702_pump02.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>-140</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>web_ev_1148_20702_cat_02.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>275</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>web_ev_1148_20702_clowd_R1.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1311</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>419</real>
				<key>offsetY</key>
				<real>-218.5</real>
			</dict>
			<key>web_ev_1148_20702_clowd_L2.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>-416</real>
				<key>offsetY</key>
				<real>-354.5</real>
			</dict>
			<key>web_ev_1148_20702_treeC_lanthaum01.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-380.5</real>
				<key>offsetY</key>
				<real>-163</real>
			</dict>
			<key>web_ev_1148_20702_treeC.png</key>
			<dict>
				<key>width</key>
				<integer>446</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>-352</real>
				<key>offsetY</key>
				<real>-143</real>
			</dict>
			<key>web_ev_1148_20702_treeC_light.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>998</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>-387</real>
				<key>offsetY</key>
				<real>-158</real>
			</dict>
			<key>web_ev_1148_20702_treeB_lanthaum01.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>378.5</real>
				<key>offsetY</key>
				<real>175.5</real>
			</dict>
			<key>web_ev_1148_20702_treeB_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>504.5</real>
				<key>offsetY</key>
				<real>315.5</real>
			</dict>
			<key>web_ev_1148_20702_treeB_light01.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1662</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>370.5</real>
				<key>offsetY</key>
				<real>154.5</real>
			</dict>
			<key>web_ev_1148_20702_treeB.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1293</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>428.5</real>
				<key>offsetY</key>
				<real>256.5</real>
			</dict>
			<key>web_ev_1148_20702_cat_01.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>830</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>-477</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>web_ev_1148_20702_pump01.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>-101</real>
				<key>offsetY</key>
				<real>173</real>
			</dict>
			<key>web_ev_1148_20702_clowd_L.png</key>
			<dict>
				<key>width</key>
				<integer>590</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1200</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>-305</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>web_ev_1148_20702_treeA_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>375</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1662</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>101.5</real>
				<key>offsetY</key>
				<real>376.5</real>
			</dict>
			<key>web_ev_1148_20702_treeA_lanthaum01.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>165</real>
			</dict>
			<key>web_ev_1148_20702_treeA.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1662</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>74.5</real>
				<key>offsetY</key>
				<real>274</real>
			</dict>
			<key>web_ev_1148_20702_treeA_light01.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>998</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>166.5</real>
			</dict>
			<key>web_ev_1148_20702_moon.png</key>
			<dict>
				<key>width</key>
				<integer>491</integer>
				<key>height</key>
				<integer>460</integer>
				<key>originalWidth</key>
				<integer>491</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>991</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1148_20702_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>988</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1148_207020.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1148_207020.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>