<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1161_31151_parts_iroha.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>39.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>web_ev_1161_31151_parts_flower_front.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-132</real>
			</dict>
			<key>web_ev_1161_31151_parts_chika.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>313</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>610</integer>
				<key>offsetX</key>
				<real>344.5</real>
				<key>offsetY</key>
				<real>-92.5</real>
			</dict>
			<key>web_ev_1161_31151_parts_madoka.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>248</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>610</integer>
				<key>offsetX</key>
				<real>-339</real>
				<key>offsetY</key>
				<real>-74</real>
			</dict>
			<key>web_ev_1161_31151_parts_flower_back_l.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>361</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>406.5</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>web_ev_1161_31151_parts_flower_back_r.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>610</integer>
				<key>offsetX</key>
				<real>-291.5</real>
				<key>offsetY</key>
				<real>-109</real>
			</dict>
			<key>web_ev_1161_31151_parts_tree_r.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1239</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-371</real>
				<key>offsetY</key>
				<real>230.5</real>
			</dict>
			<key>web_ev_1161_31151_parts_tree_l.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>325</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>363</integer>
				<key>offsetX</key>
				<real>354.5</real>
				<key>offsetY</key>
				<real>221.5</real>
			</dict>
			<key>web_ev_1161_31151_parts_homura.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>-193</real>
				<key>offsetY</key>
				<real>174.5</real>
			</dict>
			<key>web_ev_1161_31151_parts_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1161_311510.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1161_311510.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>