<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1160_21814_parts_light_00.png</key>
			<dict>
				<key>width</key>
				<integer>604</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>632</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>web_ev_1160_21814_parts_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1160_21814_parts_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>1191</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>772</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>330</real>
			</dict>
			<key>web_ev_1160_21814_parts_clowd02.png</key>
			<dict>
				<key>width</key>
				<integer>1078</integer>
				<key>height</key>
				<integer>262</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>990</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>264</real>
			</dict>
			<key>web_ev_1160_21814_parts_sky.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>279.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1160_218140.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1160_218140.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>