<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1080_20531_obj2.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_ef6.png</key>
			<dict>
				<key>width</key>
				<integer>474</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>474</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_obj.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>334</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_sheet01.png</key>
			<dict>
				<key>width</key>
				<integer>483</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>483</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>334</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_ef2.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_ef3.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_ef4.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_light4.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>587</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_light3.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>251</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_light2.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>751</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_light.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>335</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_ef.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1080_20531_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>948</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1080_205310.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1080_205310.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>