<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1160_19081_moya_r1.png</key>
			<dict>
				<key>width</key>
				<integer>726</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-237</real>
				<key>offsetY</key>
				<real>-218.5</real>
			</dict>
			<key>web_ev_1160_19081_moya_r2.png</key>
			<dict>
				<key>width</key>
				<integer>750</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-225</real>
				<key>offsetY</key>
				<real>-218.5</real>
			</dict>
			<key>web_ev_1160_19081_moya_r3.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>463</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-218.5</real>
			</dict>
			<key>web_ev_1160_19081_moya_l1.png</key>
			<dict>
				<key>width</key>
				<integer>734</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>752</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>233</real>
				<key>offsetY</key>
				<real>-220.5</real>
			</dict>
			<key>web_ev_1160_19081_moya_l2.png</key>
			<dict>
				<key>width</key>
				<integer>730</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>235</real>
				<key>offsetY</key>
				<real>-220.5</real>
			</dict>
			<key>web_ev_1160_19081_moya_l3.png</key>
			<dict>
				<key>width</key>
				<integer>784</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1391</integer>
				<key>offsetX</key>
				<real>208</real>
				<key>offsetY</key>
				<real>-220.5</real>
			</dict>
			<key>web_ev_1160_19081_pole_r.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>900</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-511.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1160_19081_uwasa_up1.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>325</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>1367</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>69.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1160_190810.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1160_190810.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>