<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1173_21184_n_light.png</key>
			<dict>
				<key>width</key>
				<integer>1663</integer>
				<key>height</key>
				<integer>1103</integer>
				<key>originalWidth</key>
				<integer>1663</integer>
				<key>originalHeight</key>
				<integer>1103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1173_21184_mirror_light.png</key>
			<dict>
				<key>width</key>
				<integer>725</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>772</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1173_21184_ceiling_light.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1416</integer>
				<key>offsetX</key>
				<real>-142.5</real>
				<key>offsetY</key>
				<real>127.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m07_03.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>560</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>89.5</real>
				<key>offsetY</key>
				<real>191</real>
			</dict>
			<key>web_ev_1173_21184_n_m07_02.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>78.5</real>
				<key>offsetY</key>
				<real>72</real>
			</dict>
			<key>web_ev_1173_21184_n_m08_04.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>135</real>
				<key>offsetY</key>
				<real>-45</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l7_2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>172.5</real>
				<key>offsetY</key>
				<real>66.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l7.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1854</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>172.5</real>
				<key>offsetY</key>
				<real>66.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l6_2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>103.5</real>
				<key>offsetY</key>
				<real>284.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l6.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1919</integer>
				<key>offsetX</key>
				<real>103</real>
				<key>offsetY</key>
				<real>284.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l5_2.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>-80</real>
				<key>offsetY</key>
				<real>231</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l5.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>-80</real>
				<key>offsetY</key>
				<real>231</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l4_2.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>1214</integer>
				<key>offsetX</key>
				<real>-184</real>
				<key>offsetY</key>
				<real>183.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l4.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1946</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-184</real>
				<key>offsetY</key>
				<real>183.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l3_2.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>847</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>-154</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l3.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>1874</integer>
				<key>offsetX</key>
				<real>-154</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l2_2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1854</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-360</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l2.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>1214</integer>
				<key>offsetX</key>
				<real>-359</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l1_2.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>1238</integer>
				<key>offsetX</key>
				<real>-390.5</real>
				<key>offsetY</key>
				<real>117.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m_l1.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>1147</integer>
				<key>offsetX</key>
				<real>-390.5</real>
				<key>offsetY</key>
				<real>117.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m09__.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1967</integer>
				<key>offsetX</key>
				<real>462</real>
				<key>offsetY</key>
				<real>-118.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m11__.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>566.5</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m05_a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1969</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-320.5</real>
				<key>offsetY</key>
				<real>-138.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m10__.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>543</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_a.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>13</integer>
				<key>y</key>
				<integer>1967</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>481</integer>
				<key>originalHeight</key>
				<integer>481</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>web_ev_1173_21184_move_r_mirror.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1946</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_03.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>495</integer>
				<key>x</key>
				<integer>1666</integer>
				<key>y</key>
				<integer>563</integer>
				<key>offsetX</key>
				<real>61.5</real>
				<key>offsetY</key>
				<real>46.5</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_04.png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>391</integer>
				<key>originalWidth</key>
				<integer>584</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_02.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>365</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m05_01.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>1974</integer>
				<key>offsetX</key>
				<real>-427</real>
				<key>offsetY</key>
				<real>164</real>
			</dict>
			<key>web_ev_1173_21184_n_m07_01.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1198</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>-79</real>
				<key>offsetY</key>
				<real>66</real>
			</dict>
			<key>web_ev_1173_21184_n_m09_01.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>454.5</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>web_ev_1173_21184_n_m04_01.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>1974</integer>
				<key>offsetX</key>
				<real>-427.5</real>
				<key>offsetY</key>
				<real>164</real>
			</dict>
			<key>web_ev_1173_21184_n_m06_01.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>-95</real>
				<key>offsetY</key>
				<real>66</real>
			</dict>
			<key>web_ev_1173_21184_n_m10_01.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>1943</integer>
				<key>offsetX</key>
				<real>480</real>
				<key>offsetY</key>
				<real>58</real>
			</dict>
			<key>web_ev_1173_21184_move_mirror_03_1.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>495</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>1943</integer>
				<key>offsetX</key>
				<real>-71</real>
				<key>offsetY</key>
				<real>-179</real>
			</dict>
			<key>web_ev_1173_21184_n_g_cloce_04.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>1172</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>1106</integer>
				<key>offsetX</key>
				<real>-419</real>
				<key>offsetY</key>
				<real>-189</real>
			</dict>
			<key>web_ev_1173_21184_n_g_cloce_03.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>1172</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>2019</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>125.5</real>
				<key>offsetY</key>
				<real>146</real>
			</dict>
			<key>web_ev_1173_21184_n_g_cloce_02.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>1172</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>-448</real>
				<key>offsetY</key>
				<real>80.5</real>
			</dict>
			<key>web_ev_1173_21184_n_g_cloce_01.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>1172</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>1832</integer>
				<key>y</key>
				<integer>541</integer>
				<key>offsetX</key>
				<real>528</real>
				<key>offsetY</key>
				<real>104.5</real>
			</dict>
			<key>web_ev_1173_21184_move_desk.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>1943</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>web_ev_1173_21184_move_chair.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>1943</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>web_ev_1173_21184_n_move_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>702</integer>
				<key>height</key>
				<integer>386</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>386</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>1190</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1173_21184_n_g_gocha_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>726</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>1227</integer>
				<key>y</key>
				<integer>1579</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>web_ev_1173_21184_g_move_mirror_5.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>1943</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>web_ev_1173_21184_g_move_mirror_2.png</key>
			<dict>
				<key>width</key>
				<integer>569</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>638</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1227</integer>
				<key>y</key>
				<integer>1790</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>web_ev_1173_21184_g_move_mirror_3.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1666</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1173_211840.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1173_211840.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>