<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1053_24012_shadow_01.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>278</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>278</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_dust_01.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>239</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_dust_2.png</key>
			<dict>
				<key>width</key>
				<integer>371</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>277</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_dust_03.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_dust_04.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>208</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_01.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_02.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_04.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_06.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_03.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_05.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>783</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_building_07.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_02.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_03.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>777</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_04.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>558</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_05.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>839</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_06.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_07.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>295</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_08.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1053_24012_cloud_09.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1773</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1053_240120.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1053_240120.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>