<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1027_14051_ef07.png</key>
			<dict>
				<key>width</key>
				<integer>796</integer>
				<key>height</key>
				<integer>486</integer>
				<key>originalWidth</key>
				<integer>796</integer>
				<key>originalHeight</key>
				<integer>486</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_red_light.png</key>
			<dict>
				<key>width</key>
				<integer>569</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>569</integer>
				<key>originalHeight</key>
				<integer>264</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef06.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef05.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>271</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef04.png</key>
			<dict>
				<key>width</key>
				<integer>746</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>746</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>657</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>657</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>1121</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1027_14051_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>900</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1027_140510.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1027_140510.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>