<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1173_21184_n_g_mirror_jimen.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-244.5</real>
			</dict>
			<key>web_ev_1173_21184_g_move_mirror_1.png</key>
			<dict>
				<key>width</key>
				<integer>830</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>299</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>282</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>web_ev_1173_21184_g_move_mirror_4.png</key>
			<dict>
				<key>width</key>
				<integer>915</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>241</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>bg_adv_21184.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>760</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1173_211842.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1173_211842.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>