<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1051_31011_gradation.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>680</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>680</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_02.png</key>
			<dict>
				<key>width</key>
				<integer>748</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>748</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_03.png</key>
			<dict>
				<key>width</key>
				<integer>848</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>848</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>682</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_04.png</key>
			<dict>
				<key>width</key>
				<integer>964</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_05.png</key>
			<dict>
				<key>width</key>
				<integer>592</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>592</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_06.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>468</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1532</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_building.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>652</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>652</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1002</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1051_31011_cloud_07.png</key>
			<dict>
				<key>width</key>
				<integer>1324</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>1324</integer>
				<key>originalHeight</key>
				<integer>324</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1656</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1051_310110.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1051_310110.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>