<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1126_20671_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>467</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>web_ev_1126_20671_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>491</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1126_20671_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>486</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>web_ev_1126_20671_tx4.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>web_ev_1126_20671_tx05.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>web_ev_1126_20671_moya01a.png</key>
			<dict>
				<key>width</key>
				<integer>617</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>838</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>421</integer>
				<key>offsetX</key>
				<real>291.5</real>
				<key>offsetY</key>
				<real>306</real>
			</dict>
			<key>web_ev_1126_20671_moya01b.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>838</integer>
				<key>x</key>
				<integer>619</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-147.5</real>
			</dict>
			<key>web_ev_1126_20671_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>619</integer>
				<key>y</key>
				<integer>545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1126_20671_moya02a.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>262</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>web_ev_1126_20671_moya02b.png</key>
			<dict>
				<key>width</key>
				<integer>515</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>913</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>web_ev_1126_20671_light02a.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>-188.5</real>
				<key>offsetY</key>
				<real>160.5</real>
			</dict>
			<key>web_ev_1126_20671_light02b.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1305</integer>
				<key>offsetX</key>
				<real>50.5</real>
				<key>offsetY</key>
				<real>143</real>
			</dict>
			<key>web_ev_1126_20671_light02c.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>244</real>
				<key>offsetY</key>
				<real>46.5</real>
			</dict>
			<key>web_ev_1126_20671_light02d.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1471</integer>
				<key>offsetX</key>
				<real>210.5</real>
				<key>offsetY</key>
				<real>-124.5</real>
			</dict>
			<key>web_ev_1126_20671_light01a.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>1071</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>-431</real>
				<key>offsetY</key>
				<real>159</real>
			</dict>
			<key>web_ev_1126_20671_light01b.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>1071</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>54</real>
				<key>offsetY</key>
				<real>74.5</real>
			</dict>
			<key>web_ev_1126_20671_light01c.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>417</integer>
				<key>originalWidth</key>
				<integer>1071</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>410.5</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>web_ev_1126_20671_bg01a.png</key>
			<dict>
				<key>width</key>
				<integer>636</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1674</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1126_20671_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1126_206710.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1126_206710.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>