<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1139_20311_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>509</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1139_20311_light_00.png</key>
			<dict>
				<key>width</key>
				<integer>604</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>632</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>web_ev_1139_20311_island.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1139_20311_cloud.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>362</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>392</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>web_ev_1139_20311_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1139_203110.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1139_203110.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>