<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1108_21145_flare_01_01.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_flare_01_02.png</key>
			<dict>
				<key>width</key>
				<integer>573</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>573</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>25</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_flare_03_01.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_ef_03.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>361</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_ef_04.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>311</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>315</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>315</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_tent_right.png</key>
			<dict>
				<key>width</key>
				<integer>276</integer>
				<key>height</key>
				<integer>429</integer>
				<key>originalWidth</key>
				<integer>276</integer>
				<key>originalHeight</key>
				<integer>429</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_flare_02_02.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_mat_left.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_flare_02_01.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>439</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_tent_flont.png</key>
			<dict>
				<key>width</key>
				<integer>976</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>976</integer>
				<key>originalHeight</key>
				<integer>206</integer>
				<key>x</key>
				<integer>965</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_tree_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>529</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>529</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>965</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>900</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1019</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>787</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>787</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>915</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1108_21145_sky_01.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>450</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>537</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1108_211450.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1108_211450.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>