<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1067_20501_ef_13.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_12.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_11.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>377</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_05.png</key>
			<dict>
				<key>width</key>
				<integer>884</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>884</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_08.png</key>
			<dict>
				<key>width</key>
				<integer>789</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>789</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>578</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_07.png</key>
			<dict>
				<key>width</key>
				<integer>634</integer>
				<key>height</key>
				<integer>445</integer>
				<key>originalWidth</key>
				<integer>634</integer>
				<key>originalHeight</key>
				<integer>445</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_06.png</key>
			<dict>
				<key>width</key>
				<integer>506</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>506</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>1522</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_10.png</key>
			<dict>
				<key>width</key>
				<integer>483</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>483</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>447</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_04.png</key>
			<dict>
				<key>width</key>
				<integer>967</integer>
				<key>height</key>
				<integer>458</integer>
				<key>originalWidth</key>
				<integer>967</integer>
				<key>originalHeight</key>
				<integer>458</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_02.png</key>
			<dict>
				<key>width</key>
				<integer>708</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_01.png</key>
			<dict>
				<key>width</key>
				<integer>762</integer>
				<key>height</key>
				<integer>499</integer>
				<key>originalWidth</key>
				<integer>762</integer>
				<key>originalHeight</key>
				<integer>499</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501_ef_09.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>470</integer>
				<key>originalHeight</key>
				<integer>311</integer>
				<key>x</key>
				<integer>969</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1067_20501.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>969</integer>
				<key>y</key>
				<integer>1021</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1067_205010.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1067_205010.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>