<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1144_20711_moya_A.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>626</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-169.5</real>
			</dict>
			<key>web_ev_1144_20711_moya_A01.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>626</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>311</real>
				<key>offsetY</key>
				<real>-88</real>
			</dict>
			<key>web_ev_1144_20711_moya_A02.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>626</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>300</real>
				<key>offsetY</key>
				<real>89.5</real>
			</dict>
			<key>web_ev_1144_20711_moya_A03.png</key>
			<dict>
				<key>width</key>
				<integer>719</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>626</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>-240.5</real>
				<key>offsetY</key>
				<real>170.5</real>
			</dict>
			<key>web_ev_1144_20711_tree.png</key>
			<dict>
				<key>width</key>
				<integer>1018</integer>
				<key>height</key>
				<integer>524</integer>
				<key>originalWidth</key>
				<integer>1018</integer>
				<key>originalHeight</key>
				<integer>524</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>989</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1144_20711_moya_B.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>979</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>274.5</real>
				<key>offsetY</key>
				<real>34.5</real>
			</dict>
			<key>web_ev_1144_20711_moya_B01.png</key>
			<dict>
				<key>width</key>
				<integer>898</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>979</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>web_ev_1144_20711_moya_B02.png</key>
			<dict>
				<key>width</key>
				<integer>451</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>979</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>-172</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>web_ev_1144_20711_b.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>web_ev_1144_20711_bat07c.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>-56</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>web_ev_1144_20711_bat07a.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-55.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>web_ev_1144_20711_bat07b.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>389</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>web_ev_1144_20711_bat06c.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-78.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>web_ev_1144_20711_bat06b.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>-94</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>web_ev_1144_20711_bat06a.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>-87</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>web_ev_1144_20711_bat05c.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>3</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>-55</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>web_ev_1144_20711_bat05b.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>-44.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>web_ev_1144_20711_bat05a.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>web_ev_1144_20711_bat04b.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>web_ev_1144_20711_bat04a.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>web_ev_1144_20711_bat03b.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>web_ev_1144_20711_bat03a.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>web_ev_1144_20711_bat02a.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>80.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>web_ev_1144_20711_bat02c.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>77.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>web_ev_1144_20711_bat02b.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>82.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>web_ev_1144_20711_bat01b.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>web_ev_1144_20711_bat01a.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>web_ev_1144_20711_castle.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>351</integer>
				<key>originalWidth</key>
				<integer>289</integer>
				<key>originalHeight</key>
				<integer>351</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>553</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1144_20711_moya_cloud01.png</key>
			<dict>
				<key>width</key>
				<integer>459</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>934</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>-237.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>web_ev_1144_20711_moya_cloud02.png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>934</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>208.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>web_ev_1144_20711_moonflash.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1144_20711_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1021</integer>
				<key>y</key>
				<integer>907</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1144_207110.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1144_207110.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>