<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1156_53013_parts_streetlight_light_03.png</key>
			<dict>
				<key>width</key>
				<integer>402</integer>
				<key>height</key>
				<integer>489</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-399</real>
				<key>offsetY</key>
				<real>85.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_streetlight_light_02.png</key>
			<dict>
				<key>width</key>
				<integer>444</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-71</real>
				<key>offsetY</key>
				<real>102.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_streetlight_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>503</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>128</real>
				<key>offsetY</key>
				<real>92.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_streetlight.png</key>
			<dict>
				<key>width</key>
				<integer>438</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>-72</real>
				<key>offsetY</key>
				<real>100.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_bottom_light_03.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-273</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>web_ev_1156_53013_parts_bottom_light_02.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>-56.5</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>web_ev_1156_53013_parts_bottom_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>524</integer>
				<key>offsetX</key>
				<real>124.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>web_ev_1156_53013_parts_window_lightL.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>-323.5</real>
				<key>offsetY</key>
				<real>147.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_window_lightR.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>444</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>524</integer>
				<key>offsetX</key>
				<real>460</real>
				<key>offsetY</key>
				<real>201</real>
			</dict>
			<key>web_ev_1156_53013_parts_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>914</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1156_53013_parts_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>1152</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>336</real>
			</dict>
			<key>web_ev_1156_53013_parts_clowd02.png</key>
			<dict>
				<key>width</key>
				<integer>1025</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1232</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>196.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_clowd03.png</key>
			<dict>
				<key>width</key>
				<integer>1138</integer>
				<key>height</key>
				<integer>345</integer>
				<key>originalWidth</key>
				<integer>1138</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>257.5</real>
			</dict>
			<key>web_ev_1156_53013_parts_sky.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1684</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>252</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1156_530130.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1156_530130.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>