<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1135_13113_base2.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_base.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_light04.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>239</integer>
				<key>originalHeight</key>
				<integer>249</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_light01.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>412</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_light02.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>412</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_light03.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_kanban.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>235</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>710</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_base3.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>27</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_fusen01.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>461</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>461</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_fusen02.png</key>
			<dict>
				<key>width</key>
				<integer>244</integer>
				<key>height</key>
				<integer>305</integer>
				<key>originalWidth</key>
				<integer>244</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1135_13113_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1135_131130.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1135_131130.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>