<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>web_ev_1205_21189_ceiling_light.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_n_m07_03.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>771</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_move_mirror_ 01.png</key>
			<dict>
				<key>width</key>
				<integer>878</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>878</integer>
				<key>originalHeight</key>
				<integer>268</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_n_move_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>702</integer>
				<key>height</key>
				<integer>386</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>386</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_n_g_gocha_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>726</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>726</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_g_move_mirror_1.png</key>
			<dict>
				<key>width</key>
				<integer>834</integer>
				<key>height</key>
				<integer>299</integer>
				<key>originalWidth</key>
				<integer>834</integer>
				<key>originalHeight</key>
				<integer>299</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_g_move_mirror_2.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>638</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>1245</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_g_move_mirror_4.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>241</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1798</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>web_ev_1205_21189_g_move_mirror_6.png</key>
			<dict>
				<key>width</key>
				<integer>591</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>591</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>1564</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_ev_1205_211891.png</string>
			<key>realTextureFileName</key>
			<string>web_ev_1205_211891.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>