<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_bl.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_start03.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hane_03.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>hane_01.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>hane_02.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>bg_w.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ef_start01.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>349</integer>
				<key>originalWidth</key>
				<integer>395</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>logo_02.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>768</integer>
				<key>originalHeight</key>
				<integer>467</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>logo_01.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>395</integer>
				<key>originalWidth</key>
				<integer>768</integer>
				<key>originalHeight</key>
				<integer>467</integer>
				<key>x</key>
				<integer>793</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>bg_yoru.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>900</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>851</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kumo_002.png</key>
			<dict>
				<key>width</key>
				<integer>986</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kumo_001.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1753</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sora_001.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>379</integer>
				<key>x</key>
				<integer>1487</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>toppage_bg_020.png</string>
			<key>realTextureFileName</key>
			<string>toppage_bg_020.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>