<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>103900r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>103900r_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>151</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts03a1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>103900r_parts03b1.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>103900r_parts03c1.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>20</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>103900r_parts03d1.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>29</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103900r_parts03e1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>103900r_parts03f1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>103900r_parts03g1.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>103900r_parts13a1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>103900r_parts13b1.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>19</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>103900r_parts13c1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>103900r_parts13d1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>103900r_parts04aRbn1.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>103900r_parts14aRbn1.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>25.5</real>
			</dict>
			<key>103900r_parts04aRbn2.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>103900r_parts14aRbn2.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103900r_parts04aRbn3.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>103900r_parts14aRbn3.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>103900r_parts04aEri2.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>35.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103900r_parts14aEri2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>103900r_parts04aEri3.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>103900r_parts14aEri3.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>103900r_parts04aMntL.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>103900r_parts14aMntL.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>103900r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103900r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>103900r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>103900r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>103900r_parts00c1.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>103900r_parts00d1.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>103900r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>103900r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103900r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>103900r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103900r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>103900r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>103900r_parts02a1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>103900r_parts02b1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>103900r_parts02e1.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>103900r_parts02f1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>103900r_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103900r_parts02l.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103900r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>103900r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>103900r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>103900r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>103900r_parts03_hair0c.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103900r_parts03_hair0d.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103900r_parts03_hair0f.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>103900r_parts13_hair0c.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>103900r_parts13_hair0d.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103900r_parts13_hair0f.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>103900r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>103900r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>103900r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>103900r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>103900r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>103900r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>471</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>103900r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>103900r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>103900r_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>103900r_parts03g.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>457</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>103900r_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>103900r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>103900r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>103900r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>103900r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>103900r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>457</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>103900r_parts04aEri1.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>466</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103900r_parts14aEri1.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>103900r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>103900r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>103900r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>103900r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>103900r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>103900r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>759</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>103900r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>528</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103900r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103900r_parts14aTail.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>485</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>103900r_parts04aMntR.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>936</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>103900r_parts14aMntR.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>103900r_parts04aMnt2a.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>103900r_parts14aMnt2a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>837</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>103900r_parts04aMnt3a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>306</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>103900r_parts14aMnt3a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>103900r_parts04aMnt1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>103900r_parts14aMnt1.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>103900r_parts04aMntEx.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts04aMnt2b.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>689</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103900r_parts14aMnt2b.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>689</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>103900r_parts04aMnt3b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>233</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103900r_parts14aMnt3b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>751</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>103900r_parts99.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>689</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>103900r_parts90.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_103900_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_103900_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>