<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>400300_r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>400300_r_parts99c0.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts99c1.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts99c2.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts99c1_ex.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>400300_r_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>400300_r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>400300_r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>400300_r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>400300_r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>400300_r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>400300_r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>400300_r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>400300_r_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>400300_r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>400300_r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>400300_r_parts03_osageL.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_osageL.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_hat01.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_hat01.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_sidehairL.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_sidehairL.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>400300_r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>296</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>400300_r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>400300_r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>400300_r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>400300_r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>400300_r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>400300_r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>400300_r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>400300_r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>400300_r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>315</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>400300_r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>400300_r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>421</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>400300_r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>400300_r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>400300_r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>400300_r_parts05_ribbonL01.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts15_ribbonL01.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts05_ribbonL02.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts15_ribbonL02.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>400300_r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>400300_r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>400300_r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>400300_r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>400300_r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>400300_r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>400300_r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>400300_r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>400300_r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>400300_r_parts05_ribbonR01.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts05_ribbonR02.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts15_ribbonR02.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_sidehairR.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_sidehairR.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_osageR.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts13_osageR.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts03_backhair.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts04_ribbon00.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts14_ribbon00.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts04_ribbon01L.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts14_ribbon01L.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts04_ribbon01R.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>400300_r_parts14_ribbon01R.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>610</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>meta_400300_r_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>meta_400300_r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>meta_400300_r_parts01L.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>meta_400300_r_parts01R.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>280</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>741</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>meta_400300_r_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>323</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_400300_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_400300_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>