<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>110900r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>110900r_parts999b.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>110900r_parts999c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>110900r_parts999d.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>110900r_parts999a.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>110900r_parts019a.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>110900r_parts014g.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110900r_parts014e.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>110900r_parts014c.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>314</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>110900r_parts014f.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>110900r_parts014d.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110900r_parts014a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110900r_parts006c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>110900r_parts006a.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>110900r_parts001.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>110900r_parts002.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts003.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts004.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts005.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>235</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>110900r_parts006.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts008.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-54</real>
			</dict>
			<key>110900r_parts009.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts010.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>39.5</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>110900r_parts011.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>110900r_parts013.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>-123.5</real>
			</dict>
			<key>110900r_parts014.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-62</real>
			</dict>
			<key>110900r_parts015.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>110900r_parts016.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>110900r_parts007.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>783</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>110900r_parts017.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>67</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>110900r_parts018.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>110900r_parts019.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>110900r_parts020.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>110900r_parts012a.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>747</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>110900r_parts012b.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>659</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>110900r_parts014b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>110900r_parts006b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>110900r_parts019b.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>110900r_parts019c.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>110900r_parts020a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>110900r_parts020b.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>110900r_parts013a.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>659</integer>
				<key>offsetX</key>
				<real>39.5</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>110900r_parts90a.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>861</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_110900_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_110900_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>