<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>104200r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104200r_parts91a.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>104200r_parts91a1.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>112</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>72.5</real>
			</dict>
			<key>104200r_parts91b.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>104200r_parts91b1.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104200r_parts91b2.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>104200r_parts91b3.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104200r_parts91b4.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>104200r_parts91e.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>-45.5</real>
			</dict>
			<key>104200r_parts91c.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>104200r_parts91c1.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>104200r_parts91ca.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-102</real>
			</dict>
			<key>104200r_parts91d.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-57.5</real>
			</dict>
			<key>104200r_parts91d1.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>-61</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>104200r_parts91da.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>-97.5</real>
			</dict>
			<key>104200r_parts91a2.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>104200r_parts91f.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>38.5</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>104200r_parts91f1.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>104200r_parts92aa.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>104200r_parts92ba.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>104200r_parts92a.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104200r_parts92a1.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>104200r_parts92bb.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>104200r_parts92ab.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-46.5</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>104200r_parts92cb.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>104200r_parts92b.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-72</real>
			</dict>
			<key>104200r_parts92b1.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-76.5</real>
			</dict>
			<key>104200r_parts92cd.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-77</real>
			</dict>
			<key>104200r_parts92ac.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104200r_parts92bc.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>104200r_parts92d.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>-68</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>104200r_parts004b.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>104200r_parts004a.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>104200r_parts003a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>104200r_parts003b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>104200r_parts003c.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>682</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>104200r_parts002a.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104200r_parts002d.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>378</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104200r_parts002f.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104200r_parts001a.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>104200r_parts002b.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>104200r_parts001b.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>104200r_parts002c.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>104200r_parts002e.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>378</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104200r_parts002g.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104200r_parts93d.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>104200r_parts93ac.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>54</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>86</real>
			</dict>
			<key>104200r_parts93bc.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>383</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>36</real>
				<key>offsetY</key>
				<real>84</real>
			</dict>
			<key>104200r_parts93aa.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>-46.5</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>104200r_parts93a.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>104200r_parts93b.png</key>
			<dict>
				<key>width</key>
				<integer>226</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>538</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>104200r_parts93c.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>538</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>104200r_parts93ab.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>104200r_parts93bb.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>44</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>104200r_parts93cb.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>889</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>104200r_parts93db.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>859</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>104200r_parts94h.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>932</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>104200r_parts94d.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>91</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>104200r_parts94a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>104200r_parts94a1.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>940</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>104200r_parts94g.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104200r_parts94g1.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>76</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104200r_parts94ex1.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>47.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104200r_parts94ex2.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>995</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>104200r_parts94b.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>-73</real>
			</dict>
			<key>104200r_parts94c.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>66.5</real>
				<key>offsetY</key>
				<real>-77</real>
			</dict>
			<key>104200r_parts94f.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1387</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>42.5</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>104200r_parts94e.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1133</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>48.5</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>104200r_parts95a.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1133</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>25.5</real>
			</dict>
			<key>104200r_parts95a1.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>104200r_parts95b.png</key>
			<dict>
				<key>width</key>
				<integer>278</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>68</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>104200r_parts95b1.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1382</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>104200r_parts95d.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>104200r_parts95c.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1018</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>-45.5</real>
			</dict>
			<key>104200r_parts95c1.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1018</integer>
				<key>y</key>
				<integer>595</integer>
				<key>offsetX</key>
				<real>104.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>104200r_parts_iHead01.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104200r_parts_iBody.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>1413</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>104200r_parts_iHead02.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>753</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>104200r_parts_iFoot.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>817</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>104200r_parts_iAcs.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_104200_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_104200_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>