<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>120100r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>120100r_parts_dp02.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-76.5</real>
			</dict>
			<key>120100r_parts015e.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>120100r_parts_dp03.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>139</real>
				<key>offsetY</key>
				<real>-105</real>
			</dict>
			<key>120100r_parts015c.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>120100r_parts014a.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>120100r_parts014c.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>120100r_parts006b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>120100r_parts014e.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>120100r_parts014f.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>120100r_parts010a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>120100r_parts014d.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>120100r_parts010b.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>120100r_parts005a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>120100r_parts003g.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>436</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>120100r_parts015b.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>120100r_parts003e.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>120100r_parts001g.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>120100r_parts003j.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>120100r_parts005h.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>120100r_parts003b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>120100r_parts005f.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>120100r_parts003c.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>120100r_parts005g.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>120100r_parts001b.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>579</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>120100r_parts001d.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>120100r_parts003f.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>120100r_parts001c.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>120100r_parts003d.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>120100r_parts001.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>120100r_parts002.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>120100r_parts003.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>120100r_parts004.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>747</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>120100r_parts005.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-55</real>
			</dict>
			<key>120100r_parts006.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>120100r_parts007.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>120100r_parts008.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>120100r_parts009.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-87.5</real>
			</dict>
			<key>120100r_parts010.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>120100r_parts011.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>120100r_parts012.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>713</integer>
				<key>offsetX</key>
				<real>-61</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>120100r_parts013.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>120100r_parts014.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>120100r_parts015a.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>691</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>120100r_parts_dp01.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>473</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>957</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-73.5</real>
			</dict>
			<key>120100r_parts016.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1197</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>45</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>120100r_parts001f.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>120100r_parts003i.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>120100r_parts005d.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>120100r_parts001e.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>120100r_parts003h.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>120100r_parts005c.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>120100r_parts014b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>120100r_parts009b.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>120100r_parts009a.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>120100r_parts001a.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>120100r_parts003a.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>120100r_parts004a.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>691</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>120100r_parts005e.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>120100r_parts006a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1385</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>120100r_parts007a.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>690</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>120100r_parts008a.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1197</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>120100r_parts011a.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>860</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>120100r_parts012a.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>996</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>120100r_parts014h.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>120100r_parts014g.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_120100_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_120100_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>