<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>104900r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104900r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>104900r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>104900r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>104900r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>42</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>104900r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>104900r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>104900r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>104900r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>104900r_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>104900r_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>104900r_parts03_hairWingL.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>191</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>104900r_parts13_hairWingL.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>104900r_parts03_headgia.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>104900r_parts13_headgia.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>104900r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>104900r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>104900r_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>104900r_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>104900r_parts99d.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>104900r_parts03_hairSideL.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>104900r_parts13_hairSideL.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>104900r_parts03_hairOsageL.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>104900r_parts13_hairOsageL.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>104900r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>104900r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>104900r_parts03_hairSideR.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>104900r_parts13_hairSideR.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>104900r_parts01a_armor.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>104900r_parts11a_armor.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>104900r_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>358</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>104900r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104900r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104900r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>104900r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104900r_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104900r_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104900r_partsD00a.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>104900r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104900r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>169</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104900r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104900r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>104900r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>104900r_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>104900r_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104900r_parts02g.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>104900r_parts02h.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>104900r_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_parts02l.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>378</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104900r_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>104900r_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>104900r_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>32</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>104900r_parts03_hairRear.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>104900r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>104900r_parts13_hairRear.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>104900r_parts03_hairOsageR.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>104900r_parts13_hairOsageR.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>104900r_parts03_hairWingR.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>55.5</real>
			</dict>
			<key>104900r_parts13_hairWingR.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>104900r_parts04_armorL.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>104900r_parts14_armorL.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>104900r_parts04_armorR.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>104900r_parts04_BeltA.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>104900r_parts14_BeltA.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>104900r_parts04_BeltB.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>104900r_parts14_BeltB.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>104900r_parts04_BeltC.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>104900r_parts14_BeltC.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>104900r_parts04_ClothA.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts14_ClothA.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>104900r_parts04_ClothB.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104900r_parts14_ClothB.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>104900r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104900r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104900r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104900r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104900r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>104900r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>104900r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104900r_partsD05a.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>104900r_parts06a_knee.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>104900r_parts06c_knee.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>104900r_parts06b_knee.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>104900r_parts16a_knee.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>104900r_parts16b_knee.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>104900r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>104900r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>104900r_partsD05b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>558</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104900r_parts04_ClothC.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>104900r_parts14_ClothC.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>104900r_partsD00b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104900r_parts04_BeltD.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>104900r_parts14_BeltD.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>665</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>104900r_parts04_BeltE.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>104900r_parts14_BeltE.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>104900r_parts03_hairRear2.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>104900r_parts13_hairRear2.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104900r_partsD_bow.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>104900r_partsD04c.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_104900_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_104900_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>