<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>301800r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301800r_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800r_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>591</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>599</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>301800r_parts21c.png</key>
			<dict>
				<key>width</key>
				<integer>563</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>604</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800r_parts21d.png</key>
			<dict>
				<key>width</key>
				<integer>572</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>606</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair1_c.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair1_l.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hat00.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts13_hat00.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair2_l.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800r_parts13_hair2_l.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair3_l.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800r_parts13_hair3_l.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>301800r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>301800r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>301800r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>301800r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301800r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301800r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>301800r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>301800r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301800r_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>301800r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>301800r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>301800r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>301800r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>301800r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>301800r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>301800r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>352</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>301800r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>301800r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>301800r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>283</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>301800r_parts03_hair3_r.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair2_r.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts13_hair2_r.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts13_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>301800r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>301800r_parts03_hair1_r.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hat01.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>439</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301800r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>301800r_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts14d.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>283</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>301800r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>301800r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>301800r_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts03_hair5.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts13_hair5_l.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>563</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301800r_parts13_hair5_r.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_301800_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_301800_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>