<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>210300r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>210300r_parts11j.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-116</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>210300r_parts11j2.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-110</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>210300r_parts11h.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>210300r_parts11i.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>210300r_parts10f.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>46.5</real>
				<key>offsetY</key>
				<real>-101</real>
			</dict>
			<key>210300r_parts10d.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>210300r_parts10e.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>100</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>210300r_parts07f1.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>-67</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>210300r_parts07f2.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>-117</real>
				<key>offsetY</key>
				<real>-109.5</real>
			</dict>
			<key>210300r_parts07f3.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>82</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>210300r_parts07f4.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>42.5</real>
				<key>offsetY</key>
				<real>-127.5</real>
			</dict>
			<key>210300r_parts06g.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-63.5</real>
			</dict>
			<key>210300r_parts06f.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>420</integer>
				<key>offsetX</key>
				<real>-73</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>210300r_parts08c3.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>102.5</real>
				<key>offsetY</key>
				<real>-128.5</real>
			</dict>
			<key>210300r_parts08c2.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>13</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>130.5</real>
				<key>offsetY</key>
				<real>129.5</real>
			</dict>
			<key>210300r_parts08c1.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>-160.5</real>
				<key>offsetY</key>
				<real>110</real>
			</dict>
			<key>210300r_parts08b4.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>210300r_parts08b3.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>84</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>210300r_parts08b2.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>244</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>210300r_parts08b1.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>391</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>491</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>210300r_parts08b5.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>420</integer>
				<key>offsetX</key>
				<real>-124</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>210300r_parts08b6.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>-57</real>
				<key>offsetY</key>
				<real>-111.5</real>
			</dict>
			<key>210300r_parts00h.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-128</real>
			</dict>
			<key>210300r_parts00g.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-129.5</real>
			</dict>
			<key>210300r_parts09f.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>210300r_parts09g.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>210300r_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>210300r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>210300r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>210300r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>59</real>
			</dict>
			<key>210300r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>656</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>210300r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>210300r_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>783</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>210300r_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>656</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-53</real>
			</dict>
			<key>210300r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>692</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>210300r_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>210300r_parts04g.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>210300r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>997</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>210300r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1167</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>210300r_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1408</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>210300r_parts09b.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>210300r_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>210300r_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1614</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>210300r_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>210300r_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>654</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>-46</real>
			</dict>
			<key>210300r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>-56.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>210300r_parts11d.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>461</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210300r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1155</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>210300r_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>935</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>210300r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1346</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>210300r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1303</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-71</real>
			</dict>
			<key>210300r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1821</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>210300r_parts04h.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1129</integer>
				<key>y</key>
				<integer>645</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>210300r_parts05d.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-37.5</real>
			</dict>
			<key>210300r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1129</integer>
				<key>y</key>
				<integer>803</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>210300r_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1333</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>210300r_parts09c.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1821</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>210300r_parts11e.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1305</integer>
				<key>y</key>
				<integer>810</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>210300r_parts00e.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>74</real>
				<key>offsetY</key>
				<real>47</real>
			</dict>
			<key>210300r_parts01e.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>885</integer>
				<key>offsetX</key>
				<real>77</real>
				<key>offsetY</key>
				<real>65</real>
			</dict>
			<key>210300r_parts02g.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>68.5</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>210300r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>210300r_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>899</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>210300r_parts04i.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>899</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>210300r_parts05e.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1507</integer>
				<key>y</key>
				<integer>461</integer>
				<key>offsetX</key>
				<real>37</real>
				<key>offsetY</key>
				<real>81</real>
			</dict>
			<key>210300r_parts06d.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>878</integer>
				<key>offsetX</key>
				<real>115</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>210300r_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1589</integer>
				<key>y</key>
				<integer>461</integer>
				<key>offsetX</key>
				<real>112.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>210300r_parts09d.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1750</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>72.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>210300r_parts11f.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1592</integer>
				<key>y</key>
				<integer>561</integer>
				<key>offsetX</key>
				<real>96</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>210300r_parts00f.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1865</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-69</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>210300r_parts01f.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>210300r_parts02h.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1592</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>-82</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>210300r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1519</integer>
				<key>y</key>
				<integer>810</integer>
				<key>offsetX</key>
				<real>-79</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>210300r_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1845</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>-77.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>210300r_parts04j.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1690</integer>
				<key>y</key>
				<integer>693</integer>
				<key>offsetX</key>
				<real>-77.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>210300r_parts05f.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1519</integer>
				<key>y</key>
				<integer>896</integer>
				<key>offsetX</key>
				<real>-107.5</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>210300r_parts06e.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1960</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>210300r_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1845</integer>
				<key>y</key>
				<integer>616</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>210300r_parts09e.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1654</integer>
				<key>y</key>
				<integer>811</integer>
				<key>offsetX</key>
				<real>-69.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>210300r_parts11g.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1954</integer>
				<key>y</key>
				<integer>616</integer>
				<key>offsetX</key>
				<real>-77</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>210300r_parts08a.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1805</integer>
				<key>y</key>
				<integer>734</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-79.5</real>
			</dict>
			<key>210300r_parts10c.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1769</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>55</real>
			</dict>
			<key>210300r_parts90a.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>289</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>995</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>210300r_parts90b.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1266</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>210300r_parts07g.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>112</integer>
				<key>y</key>
				<integer>1266</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_210300_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_210300_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>